{% load i18n %}

<meta property="og:url" content="{{ pet.get_absolute_url }}"/>
<meta property="og:title" content="{% blocktrans with pet_name=pet.name %}{{ pet_name }} - Amic Pelut{% endblocktrans %}"/>
<meta property="og:description" content="{% blocktrans with gendered_type=pet.gendered_type age=pet.age description=pet.description %}{{ gendered_type }} de {{ age }} en adopció! {{ description }}{% endblocktrans %}"/>
{% if pet.pictures.count > 0 %}
  <meta property="og:image" content="{{ MEDIA_URL }}{{ pet.pictures.first }}"/>
{% endif %}
<meta property="fb:app_id" content="432647640711941"/>
<meta property="og:locale" content="ca"/>
