{% load i18n %}

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="amicpelut.com">
<meta name="twitter:creator" content="@amicpelut">
<meta name="twitter:title" content="{% blocktrans with pet_name=pet.name %}{{ pet_name }} - Amic Pelut{% endblocktrans %}">
<meta name="twitter:description" content="{% blocktrans with gendered_type=pet.gendered_type age=pet.age description=pet.description %}{{ gendered_type }} de {{ age }} en adopció! {{ description }}{% endblocktrans %}">
{% if pet.pictures.count > 0 %}
  <meta name="twitter:image" content="{{ MEDIA_URL }}{{ pet.pictures.first }}">
{% endif %}
