{% extends "core/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head %}
  {{form.media}}
{% endblock %}

{% block content %}
  <h1>
    {{ organization.name }}
  </h1>

  {% bootstrap_form_errors form %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        {% trans "Desar" %}
      </button>
    {% endbuttons %}
  </form>
{% endblock %}
