{% extends 'core/layout.html' %}

{% load i18n %}
{% load custom_filters %}

{% block content %}
  <h1>{% trans "Protectores" %}</h1>

  <div id="map" style="height: 400px; margin-bottom: 1.5em;"></div>

  <div class="card-columns">
    {% for organization in organizations %}
      <div class="card">
        {% if organization.logo %}
          <img src="{{ MEDIA_URL }}{{ organization.logo }}" alt="" class="card-img-top"/>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ organization.name }}</h5>
          <div class="card-text">
            {{ organization.description|linebreaks|urlize_target_blank }}
          </div>
          <div class="text-right">
            <a href="{{ organization.get_absolute_url }}" class="btn btn-primary stretched-link">
              {% trans "Més informació" %}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: new google.maps.LatLng(41.9780841, 2.8196819),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      const infowindow = new google.maps.InfoWindow();

      {% for organization in organizations %}
        {% if organization.location %}
          const marker{{ organization.id }} = new google.maps.Marker({
            position: new google.maps.LatLng({{ organization.location_str }}),
            map: map
          });

          google.maps.event.addListener(marker{{ organization.id }}, 'click', (function (marker) {
            return function () {
              infowindow.setContent(`{% include "organizations/components/map_marker.html" %}`);
              infowindow.open(map, marker);
            }
          })(marker{{ organization.id }}));
        {% endif %}
      {% endfor %}
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}
