{% extends "core/layout.html" %}

{% load i18n %}
{% load social_share %}
{% load custom_filters %}

{% block title %}
  {% blocktrans with organization_name=organization.name %}
    {{ organization_name }} - Amic Pelut
  {% endblocktrans %}
{% endblock %}

{% block head %}
  {% include "organizations/markup/facebook.html" %}
  {% include "organizations/markup/twitter.html" %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    {% if organization.logo %}
      <div class="col-12 col-sm-2 text-center">
        <img src="{{ MEDIA_URL }}{{ organization.logo }}" alt="" style="width: 100%; max-width: 160px;">
      </div>
    {% endif %}
    <div class="col-12{% if organization.logo %} col-sm-10{% endif %}">
      <div class="d-flex align-items-center flex-wrap">
        <h1 class="mr-3">{{ organization.name }}</h1>

        {% post_to_facebook_url organization as context %}
        {% post_to_twitter_url organization.get_share_text organization as context %}

        <div class="d-flex flex-nowrap">
          <div class="mr-1" style="width: 2.5em" data-toggle="tooltip" title="{% trans "Compartir a Facebook" %}">
            <a href="{{ context.facebook_url }}" target="_blank" class="btn btn-primary border-0 w-100" style="background-color: #385898">
              <i class="fab fa-facebook-f text-white"></i>
              <span class="sr-only">{% trans "Compartir a Twitter" %}</span>
            </a>
          </div>
          <div class="mr-1" style="width: 2.5em" data-toggle="tooltip" title="{% trans "Compartir a Twitter" %}">
            <a href="{{ context.tweet_url }}" target="_blank" class="btn btn-primary border-0 w-100" style="background-color: #00aced">
              <i class="fab fa-twitter text-white"></i>
              <span class="sr-only">{% trans "Compartir a Twitter" %}</span>
            </a>
          </div>
        </div>
      </div>
      <p>
        {% include "organizations/components/contact.html" %}
      </p>
      <div>{{ organization.description|linebreaks|urlize_target_blank }}</div>
    </div>
  </div>

  {% if pets.paginator.count > 0 %}
    <hr/>

    <h2>
      {% blocktrans with organization_name=organization.name %}
        Amics peluts en adopció de {{ organization_name }}
      {% endblocktrans %}
    </h2>

    {% include "components/pet_list.html" %}
  {% endif %}

  {% if adopted_pets.count > 0 %}
    <hr/>

    <h2>
      {% trans "Ja han trobat llar" %}
    </h2>

    {% include "components/pet_list.html" with pets=adopted_pets %}
  {% endif %}
{% endblock %}
