{% extends 'core/layout.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <h1>{% trans "Sobre nosaltres" %}</h1>

  <div class="row">
    <div class="col-12 col-md-6">
      {% spaceless %}
        {% blocktrans %}
          <p>
            Aquest és un projecte sense cap ànim de lucre amb l'objectiu d'ajudar als nostres amics peluts a trobar una
            família, tenir una vida digne i gaudir-la plenament com es mereixen.
          </p>

          <p>
            Creiem que l'adopció és la millor manera de trobar un animal de companyia. Un animal és un ésser viu que,
            com els humans, té dret a tenir una vida digna. Les protectores d'animals i cases d'acollida reben molts
            animals cada any que necessiten trobar una llar on poder ser feliços. Per altra banda, creiem que "comprar"
            animals en una botiga fa que es vegin com un producte o un objecte i no com el que són.
          </p>
        {% endblocktrans %}
      {% endspaceless %}
    </div>
    <div class="col-12 col-md-6">
      <p>
        <img src="{% static "images/gats.jpg" %}" alt="" class="w-100"/>
      </p>
    </div>
  </div>

  <h2 id="contacte">{% trans "Contacte" %}</h2>

  {% blocktrans %}
    <p>
      Si tens alguna pregunta, suggeriment o missatge que vulguis fer-nos arribar, pots fer-ho a
      <a href="mailto:contacte@amicpelut.com">contacte@amicpelut.com</a> o utilitzant el següent formulari:
    </p>
  {% endblocktrans %}

  <div class="mb-1">
    <form action="{% url "core:send_contact_email" %}" method="post" class="mx-auto" style="max-width: 600px">
      {% csrf_token %}
      {% bootstrap_form contact_form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-paper-plane mr-1"></i>
          {% trans "Enviar" %}
        </button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}
