h1, h2, h3, h4, h5, h6, .btn-action {
  font-family: "Baloo", "Roboto", sans-serif;
}

.nav-link {
  line-height: 1em;
  font-size: 1.1em;
  font-weight: bold;
  font-variant: all-small-caps;
}

.btn-action {
  font-size: 1.5em;
}
