{% load i18n %}
{% load bootstrap4 %}

<div class="modal fade" id="adoptPetModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post">
      {% csrf_token %}

      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalLabel">
            {% blocktrans with pet_name=pet.name %}
              Demanar adopció: {{ pet_name }}
            {% endblocktrans %}
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            {% blocktrans with organization_name=pet.organization.name responsible_name=pet.organization.responsibles.first.user.get_full_name %}
              Necessitem algunes dades teves per demanar l'adopció a la protectora <strong>{{ organization_name }}</strong>.
              La seva persona responsable (<strong>{{ responsible_name }}</strong>) es posarà en contacte amb tu el més aviat possible.
            {% endblocktrans %}
          </p>

          {% bootstrap_form form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel·lar" %}</button>
          <button type="submit" class="btn btn-primary">{% trans "Demanar adopció" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>