{% extends "core/layout.html" %}

{% load i18n %}

{% block content %}
  {% if paginator.count > 0 %}
    <h1>{% trans "Nosaltres ja hem trobat una llar!" %}</h1>
    {% include "components/pet_list.html" %}
  {% else %}
    <h1>{% trans "Adoptats" %}</h1>
    <p class="text-muted font-italic">{% trans "Encara no hi ha cap animal adoptat. Algun ha de ser el primer!" %}</p>
  {% endif %}
{% endblock %}
