{% extends 'core/layout.html' %}

{% load i18n %}

{% block title %}
  {% trans "Gats - Amic Pelut" %}
{% endblock %}

{% block content %}
  <h1 class="d-flex justify-content-between align-items-center flex-wrap">
    <span>
      {% trans "Gats en adopció" %}
    </span>

      <button class="btn btn-primary mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#infoCollapse"
              aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-info-circle mr-1"></i>
        {% trans "Informació útil" %}
    </button>
  </h1>

  <div class="collapse mb-3" id="infoCollapse">
    <div class="card card-body">
      <h5>{% trans "Abans d'adoptar has de saber que..." %}</h5>

      {% blocktrans %}
        <ul class="mb-0">
          <li>
            Tenir una mascota comporta molta responsabilitat, i dedicació tant en temps com en despeses: menjar, vacunes
            i altres despeses veterinàries, neteja, etc.
          </li>
          <li>
            Els gats tenen una esperança de vida d'uns 17-18 anys, has d'estar segur que podràs cuidar d'ells durant
            tota la seva vida.
          </li>
          <li>
            Pot ser que un gat no es comporti de la manera que esperes que sigui. Pot ser més o menys independent,
            necessitar que estiguis molt per ell, o fins i tot comportar-se malament o fer petites destrosses com
            esgarrapar el sofà o les cortines.
          </li>
          <li>
            Els gats són molt territorials, i necessiten un període d'adaptació a una nova casa o a nous companys.
            Tingues paciència i deixa que s'adaptin al seu ritme.
          </li>
        </ul>
      {% endblocktrans %}
    </div>
  </div>

  {% include 'components/pet_list.html' %}
{% endblock %}
