{% extends 'core/layout.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <header class="d-flex justify-content-between align-items-center">
    <h1>{% trans "Amics peluts en adopció" %}</h1>
    <div class="dropdown d-none d-md-flex">
      <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="filterDropdownButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
      >
        {% trans "Filtres" %}
        {% if filter_count %}
          <span class="badge badge-secondary ml-1">
            {{ filter_count }}
          </span>
        {% endif %}
      </button>
      <div class="dropdown-menu dropdown-menu-right px-4 py-3" aria-labelledby="filterDropdownButton">
        <h4>{% trans "Filtres" %}</h4>
        <form method="get">
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-filter mr-1"></i>
              {% trans "Filtrar" %}
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </header>

  <div>
    {% include 'components/pet_list.html' %}
  </div>
{% endblock %}
