{% load i18n %}

<div id="pictures" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for picture in pet.pictures.all %}
      <li data-target="#pictures" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for picture in pet.pictures.all %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <img src="{{ MEDIA_URL }}{{ picture }}" alt="" class="d-block w-100"/>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#pictures" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Anterior" %}</span>
  </a>
  <a class="carousel-control-next" href="#pictures" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Següent" %}</span>
  </a>
</div>
