{% extends 'core/layout.html' %}

{% load i18n %}
{% load social_share %}
{% load custom_filters %}

{% block title %}
  {% blocktrans with pet_name=pet.name %}
    {{ pet_name }} - Amic Pelut
  {% endblocktrans %}
{% endblock %}

{% block head %}
  {% include "pets/markup/facebook.html" %}
  {% include "pets/markup/twitter.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        {% if pet.pictures.count == 1 %}
          <img src="{{ MEDIA_URL }}{{ pet.pictures.first }}" alt="" class="w-100"/>
        {% elif pet.pictures.count > 1 %}
          {% include "pets/pet_pictures.html" %}
        {% endif %}
      </div>
      <div class="col-12 col-md-6">
        <h2>{{ pet.name }}</h2>
        <div class="mb-3 h5">
          <span class="badge badge-info mb-1">
            {% if pet.sex == 'FEMALE' %}
              <i class="fa fa-venus"></i>
            {% else %}
              <i class="fa fa-mars"></i>
            {% endif %}
            {{ pet.get_sex_display }}
          </span>
          <span
              class="badge badge-info mb-1"
              data-toggle="tooltip"
              data-position="top"
              title="{% blocktrans with birth_date=pet.birth_date %}Data de naixement: {{ birth_date }}{% endblocktrans %}"
          >
            <i class="far fa-calendar-alt"></i>
            {{ pet.age }}
          </span>
          <span class="badge badge-info mb-1">
            {% if pet.type == 'CAT' %}
              <i class="fas fa-cat"></i>
            {% else %}
              <i class="fas fa-dog"></i>
            {% endif %}
            {% blocktrans with race=pet.race %}Raça: {{ race }}{% endblocktrans %}
          </span>
          <span class="badge badge-info mb-1">
            <i class="fa fa-expand-arrows-alt"></i>
            {% blocktrans with size=pet.get_size_display %}Mida {{ size }}{% endblocktrans %}
          </span>
        </div>

        {% if not pet.adopted %}
          <p>{% blocktrans with timesince=pet.created_at|timesince %}En adopció des de fa: {{ timesince }}{% endblocktrans %}</p>
        {% else %}
          <p class="h5">
            <span class="badge badge-success">
              {% trans "Ja he trobat llar!" %}
            </span>
          </p>
        {% endif %}

        <h3 class="sr-only">{% trans "Descripció" %}</h3>
        <div>{{ pet.description|linebreaks|urlize_target_blank }}</div>

        {% if pet.traits.count %}
          <h3>{% trans "Informació" %}</h3>
          <p class="h5 pb-3">
            {% for trait in pet.traits.all %}
              {% if trait.positive %}
                <span
                    class="badge badge-success mb-1"
                  {% if trait.description %}
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ trait.description }}"
                  {% endif %}
                >
                  <i class="fa fa-check"></i>
                  {{ trait.name }}
                </span>
              {% else %}
                <span
                    class="badge badge-warning mb-1"
                  {% if trait.description %}
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ trait.description }}"
                  {% endif %}
                >
                  <i class="fa fa-exclamation-triangle"></i>
                  {{ trait.name }}
                </span>
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        {% if not pet.adopted %}
          <div class="mb-3">
            <h5>{% trans "Ajuda'm a trobar una família!" %}</h5>
            <div class="mb-3">
              <button class="btn btn-primary btn-action" data-toggle="modal" data-target="#adoptPetModal">
                <i class="fa fa-paw"></i>
                {% trans "Adopta'm!" %}
              </button>
              {% include "pets/adopt_pet_modal.html" with form=adoption_request_form %}
            </div>

            <div class="d-flex mb-3">
              {% post_to_facebook_url pet as context %}
              {% post_to_twitter_url pet.get_share_text pet as context %}

              <div class="mr-1" style="width: 2.5em" data-toggle="tooltip" title="{% trans "Compartir a Facebook" %}">
                <a href="{{ context.facebook_url }}" target="_blank" class="btn btn-primary border-0 w-100" style="background-color: #385898">
                  <i class="fab fa-facebook-f text-white"></i>
                  <span class="sr-only">{% trans "Compartir a Twitter" %}</span>
                </a>
              </div>
              <div class="mr-1" style="width: 2.5em" data-toggle="tooltip" title="{% trans "Compartir a Twitter" %}">
                <a href="{{ context.tweet_url }}" target="_blank" class="btn btn-primary border-0 w-100" style="background-color: #00aced">
                  <i class="fab fa-twitter text-white"></i>
                  <span class="sr-only">{% trans "Compartir a Twitter" %}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="card border-success">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {% blocktrans with organization_name=pet.organization.name organization_url=pet.organization.get_absolute_url %}
                      M'estan cuidant a <a href="{{ organization_url }}">{{ organization_name }}</a>
                    {% endblocktrans %}
                  </h5>
                  <p class="card-text">
                    {% include "organizations/components/contact.html" with organization=pet.organization %}
                  </p>
                </div>
              </div>
              {% if pet.organization.logo %}
                <div class="col-md-4">
                  <a href="{{ pet.organization.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}{{ pet.organization.logo }}" alt="" class="card-img"/>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
