{% extends "core/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <h1>
    {% if pet %}
      {% blocktrans with name=pet.name %}
        Editar {{ name }}
      {% endblocktrans %}
    {% else %}
      {% blocktrans with type=pet_type.value|lower %}
        Afegir {{ type }}
      {% endblocktrans %}
    {% endif %}
  </h1>

  {% bootstrap_form_errors form %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        {% trans "Desar" %}
      </button>
    {% endbuttons %}
  </form>

  {% if pet.pictures.count > 0 %}
    <div class="pt-3 border-top">
      <h2>{% trans "Fotos" %}</h2>
      <div class="card-columns">
        {% for picture in pet.pictures.all %}
          <div class="card">
            <img src="{{ MEDIA_URL }}{{ picture }}" alt="" style="width: 100%"/>

            <form
                action="
                  {% if pet.type.name == "CAT" %}
                    {% url "adoptions:delete_cat_picture" pk=picture.pk %}
                  {% else %}
                    {% url "adoptions:delete_dog_picture" pk=picture.pk %}
                  {% endif %}
                "
                method="post"
                style="position: absolute; top: 1em; right: 1em"
            >
              {% csrf_token %}

              <div data-toggle="tooltip" data-placement="top" title="{% trans "Eliminar foto" %}">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#deletePictureModal{{ forloop.counter0 }}"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>

              <div class="modal fade" id="deletePictureModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{% trans "Eliminar foto?" %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {% trans "Estàs segur que vols esborrar aquesta foto? Aquesta acció no es pot desfer." %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel·lar" %}</button>
                      <button type="submit" class="btn btn-danger">{% trans "Eliminar" %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
