{% load i18n %}

<p>
  <strong>{% trans "Responsable: " %}</strong>
  {{ organization.responsibles.first.user.first_name }}
  {{ organization.responsibles.first.user.last_name }}
</p>

{% if organization.address or organization.city or organization.location %}
  {% include "organizations/components/location.html" %}
{% endif %}

{% if organization.website %}
  <div>
    <a href="{{ organization.website }}" target="_blank">
      <i class="fas fa-external-link-alt"></i>
      {{ organization.website }}
    </a>
  </div>
{% endif %}

{% if organization.email %}
  <div>
    <a href="mailto:{{ organization.email }}">
      <i class="far fa-envelope"></i>
      {{ organization.email }}
    </a>
  </div>
{% endif %}

{% if organization.telephone %}
  <div>
    <a href="tel:{{ organization.telephone }}">
      <i class="fa fa-phone"></i>
      {{ organization.telephone }}
    </a>
  </div>
{% endif %}
