{% load i18n %}

{% if organization.location %}
  <a href="https://www.google.com/maps/search/?api=1&query={{ organization.location_str }}" target="_blank" rel="noopener noreferrer">
{% endif %}

<i class="fa fa-map-marker-alt"></i>

{% if organization.address %}
  {{ organization.address }}{% if organization.city %}, {{ organization.city }}{% endif %}
{% else %}
  {% if organization.city %}
    {{ organization.city }}
  {% else %}
    {% trans "Veure mapa" %}
  {% endif %}
{% endif %}

{% if organization.location %}
  </a>
{% endif %}
