{% load custom_filters %}

<div class="d-flex justify-content-between">
  <div>
    <h4>
      <a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a>
    </h4>
    <div>
      {{ organization.description|linebreaks|truncatewords_html:20|urlize_target_blank }}
    </div>
  </div>
  {% if organization.logo %}
    <div class="ml-3 mt-1 mr-1 mb-1">
      <a href="{{ organization.get_absolute_url }}">
        <img src="{{ MEDIA_URL }}{{ organization.logo }}" alt="" class="card-img-top" style="width: 150px"/>
      </a>
    </div>
  {% endif %}
</div>
