{% load i18n %}

<div class="modal fade" id="adoptionRequestsModal{{ pet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          {% blocktrans with pet_name=pet.name %}
            Peticions d'adopció: {{ pet_name }}
          {% endblocktrans %}
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <table class="table table-responsive-lg">
        <thead>
        <tr class="bg-white">
          <th scope="col">{% trans "Nom" %}</th>
          <th scope="col">{% trans "Email" %}</th>
          <th scope="col">{% trans "Missatge" %}</th>
          <th scope="col">{% trans "Data" %}</th>
          <th scope="col">{% trans "Eliminar" %}</th>
        </tr>
        </thead>
        <tbody>
          {% for adoption_request in pet.adoption_requests.all %}
            <tr class="bg-white">
              <th class="text-nowrap">{{ adoption_request.name }}</th>
              <td>
                <a href="mailto:{{ adoption_request.email }}">
                  {{ adoption_request.email }}
                </a>
              </td>
              <td>{{ adoption_request.text }}</td>
              <td>
                {% blocktrans with date=adoption_request.created_at|date time=adoption_request.created_at|time %}
                  {{ date }} a les {{ time }}
                {% endblocktrans %}
              </td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#deleteAdoptionRequestModal{{ adoption_request.id }}">
                  <i class="fa fa-trash"></i>
                </button>

                <div class="modal fade" id="deleteAdoptionRequestModal{{ adoption_request.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{% trans "Eliminar petició d'adopció?" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {% trans "Estàs segur que vols esborrar aquesta petició? Aquesta acció no es pot desfer." %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel·lar" %}</button>
                        <form action="{% url "adoptions:delete_adoption_request" pk=adoption_request.pk %}" method="post" style="margin-bottom: 0">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">{% trans "Eliminar" %}</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Tancar" %}</button>
      </div>
    </div>
  </div>
</div>
