{% load i18n %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Nom" %}</th>
      <th scope="col">{% trans "Descripció" %}</th>
      <th scope="col">{% trans "Data de naixement" %}</th>
      <th scope="col">{% trans "Raça" %}</th>
      <th scope="col">{% trans "Sexe" %}</th>
      <th scope="col">{% trans "Mida" %}</th>
      <th scope="col">{% trans "Creat" %}</th>
      <th scope="col">{% trans "Adoptat" %}</th>
      <th scope="col">{% trans "Accions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for pet in pets %}
      <tr>
        <th scope="row">{{ pet.id }}</th>
        <td>{{ pet.name }}</td>
        <td>{{ pet.description|truncatechars:20 }}</td>
        <td>{{ pet.birth_date }}</td>
        <td>{{ pet.race }}</td>
        <td>{{ pet.get_sex_display }}</td>
        <td>{{ pet.get_size_display }}</td>
        <td>{{ pet.created_at|date }}</td>
        <td class="text-center"><input type="checkbox" disabled {% if pet.adopted %}checked{% endif %}/></td>
        <td class="d-flex justify-content-end">
          {% if pet.adoption_requests.count %}
            <div data-toggle="tooltip" title="{% trans "Peticions d'adopció" %}">
              <button type="button" class="btn btn-primary mr-1 text-nowrap" data-toggle="modal" data-target="#adoptionRequestsModal{{ pet.id }}">
                <i class="fas fa-paw mr-1"></i>
               <span class="badge badge-light">
                  {{ pet.adoption_requests.count }}
                </span>
              </button>
              {% include "organizations/components/pet_adoption_requests.html" %}
            </div>
          {% endif %}
          <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="actionsDropdown{{ pet.id }}"
              data-toggle="dropdown"
              aria-haspopup="true"
          >
            <i class="fas fa-tools"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="actionsDropdown{{ pet.id }}">
            <a
                href="
                  {% if pet.type == "CAT" %}
                    {% url "adoptions:edit_cat" pet_id=pet.id %}
                  {% else %}
                    {% url "adoptions:edit_dog" pet_id=pet.id %}
                  {% endif %}
                "
                class="dropdown-item"
            >
              <i class="fas fa-pencil-alt mr-2"></i>
              {% trans "Editar" %}
            </a>
            {% if pet.adopted %}
             <a href="{% url "adoptions:cancel_pet_adoption" pet_id=pet.id %}" class="dropdown-item">
                <i class="fas fa-heart-broken mr-2"></i>
                <span class="sr-only">
                  {% trans "Marcar com a no adoptat" %}
                </span>
              </a>
            {% else %}
              <a href="{% url "adoptions:adopt_pet" pet_id=pet.id %}" class="dropdown-item">
                <i class="fas fa-heart mr-2"></i>
                {% trans "Marcar com a adoptat" %}
              </a>
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
