{% extends "core/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load custom_filters %}

{% block title %}
  {% trans "Panell de Control - Amic Pelut" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Panell de control" %}</h1>

  {# To prevent autofocusing on fields below #}
  <input type="hidden" autofocus />

  <h2>{{ organization.name }}</h2>
  <div class="row mb-3 mb-md-0">
    <div class="col-md-8">
      <div>{{ organization.description|linebreaks|urlize_target_blank }}</div>
    </div>
    <div class="col-md-4">
      {% include 'organizations/components/contact.html' %}
    </div>
  </div>

  <a href="{% url "organizations:edit_organization" pk=organization.id %}" class="btn btn-primary">
    <i class="fas fa-pencil-alt"></i>
    {% trans "Editar informació" %}
  </a>

  <hr/>

  {% if cats.count > 0 %}
    <h3>{% trans "Els vostres gats" %}</h3>
    {% include "organizations/components/pet_table.html" with pets=cats %}
  {% endif %}
  <a href="{% url "adoptions:add_cat" %}" class="btn btn-primary mb-3">
    <i class="fa fa-plus"></i>
    {% trans "Afegir gat" %}
  </a>

  {% if dogs.count > 0 %}
    <h3>{% trans "Els vostres gossos" %}</h3>
    {% include "organizations/components/pet_table.html" with pets=dogs %}
  {% endif %}
  <a href="{% url "adoptions:add_dog" %}" class="btn btn-primary mb-3">
    <i class="fa fa-plus"></i>
    {% trans "Afegir gos" %}
  </a>

  <hr/>

  <h2>{% trans "Preferències d'usuari" %}</h2>
  <form method="post">
    {% bootstrap_form user_form layout="horizontal" %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        {% trans "Canviar contrasenya" %}
      </button>
    {% endbuttons %}
  </form>
{% endblock %}
