{% load i18n %}

<div class="d-flex justify-content-center text-muted mt-3" style="font-size: 0.8rem">
  <p class="mr-3">Copyright © {% now "Y" %}</p>
  {% if not user.is_authenticated %}
    <p class="mr-3">
      <span class="mr-1">Ets d'una protectora?</span>
      <a href="{% url "core:login" %}" class="text-nowrap">Iniciar sessió</a>
    </p>
  {% endif %}
  <a href="{% url "sitemap" %}" target="_blank" class="mr-3">{% trans "Mapa del lloc" %}</a>
  <a href="{% url "core:about" %}#contacte">{% trans "Contacte" %}</a>
</div>
