{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% bootstrap_javascript jquery='full' %}

{% load static %}

<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="Animals en adopció, gossets i gatets que necessiten una família i informació útil pels nostres amics peluts"/>
  <meta name="keywords" content="animal,animals,animal de companyia,adoptar,adopció,gat,gos,gatet,gosset,protectora"/>
  <meta name="robots" content="noindex, nofollow"/>

  <!-- generic -->
  <link rel="icon" href="{% static "favicon.png" %}" sizes="196x196"/>

  <!-- Android -->
  <link rel="shortcut icon" sizes="196x196" href="{% static "favicon.png" %}"/>

  <!-- iOS -->
  <link rel="apple-touch-icon" href="{% static "favicon.png" %}" sizes="192x192"/>

  <!-- Windows 8 IE 10-->
  <meta name="msapplication-TileColor" content="#FFFFFF"/>
  <meta name="msapplication-TileImage" content="{% static "favicon.png" %}"/>

  <!-- Windows 8.1 + IE11 and above -->
  <meta name="msapplication-config" content="{% static "browserconfig.xml" %}"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo&display=swap"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css"/>

  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>

  <title>
    {% block title %}
      {% trans 'Amic Pelut' %}
    {% endblock %}
  </title>

  {% block head %}{% endblock %}

  {% if not settings.DEBUG %}
    {# On-premise Matomo analytics #}
    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(["setCookieDomain", "*.amicpelut.com"]);
      _paq.push(["setDomains", ["*.amicpelut.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "//data.amicpelut.com/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    {# End on-premise Matomo analytics #}
  {% endif %}
</head>
<body>
<div class="container d-flex flex-column" style="min-height: 100vh;">
  {% include 'core/navbar.html' %}
  {% bootstrap_messages %}
  <div class="flex-grow-1">
    {% block content %}{% endblock %}
  </div>
  {% include 'core/footer.html' %}
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</body>
</html>
