{% load i18n %}
{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="{% url 'core:home' %}">
    <img src="{% static 'images/logo-title.png' %}" alt="{% trans 'Amic Pelut' %}" />
  </a>
  <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="{% url "adoptions:cats" %}" class="nav-link{% if section == 'cats' %} active{% endif %}">{% trans 'Gats' %}</a>
      </li>
      <li class="nav-item">
        <a href="{% url "adoptions:dogs" %}" class="nav-link{% if section == 'dogs' %} active{% endif %}">{% trans 'Gossos' %}</a>
      </li>
      <li class="nav-item">
        <a href="{% url "adoptions:adopted" %}" class="nav-link{% if section == 'adopted' %} active{% endif %}">
          {% trans "Adoptats" %}
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "organizations:organizations" %}" class="nav-link{% if section == 'organizations' %} active{% endif %}">
          {% trans 'Protectores' %}
        </a>
      </li>
      <li class="nav-item{% if section == 'about' %} active{% endif %}">
        <a href="{% url 'core:about' %}" class="nav-link">{% trans 'Sobre nosaltres' %}</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item{% if section == 'dashboard' %} active{% endif %}">
          <a href="{% url 'core:dashboard' %}" class="nav-link">
            <i class="fa fa-cog"></i>
            {% trans 'Panell de Control' %}
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url "core:logout" %}" class="nav-link" data-toggle="tooltip" title="{% trans 'Tancar sessió' %}">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>
