{% load i18n %}

<!DOCTYPE html>
<html lang="ca">
<body>
<p>
  {% blocktrans with name=adoption_request.name %}<strong>Nom</strong>: {{ name }}{% endblocktrans %}
</p>
<p>
  {% blocktrans with email=adoption_request.email %}<strong>Email</strong>: {{ email }}{% endblocktrans %}
</p>
{% if adoption_request.text %}
  <strong>{% trans "Missatge" %}</strong>:
  <p>
  {{ adoption_request.text }}
  </p>
{% else %}
  <p><em>{% trans "No ha escrit cap missatge." %}</em></p>
{% endif %}

{% if adoption_request.pet.pictures.count > 0 %}
  <img src="{{ MEDIA_URL }}{{ adoption_request.pet.pictures.first }}" alt="" style="max-width: 300px">
{% endif %}

<p>
  <small>
    {% trans "Pots respondre directament a aquest correu per contactar amb la persona que ha fet la petició." %}
  </small>
</p>
</body>
</html>
