{% extends "core/layout.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-5">
      {% if next %}
        <p class="alert alert-warning" role="alert">{% trans "Has d'iniciar sessió per veure aquesta pàgina:" %}</p>
      {% endif %}

      <h1>{% trans 'Entrar' %}</h1>

      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">{% trans 'Entrar' %}</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
  </div>
{% endblock %}
