{% load i18n %}
{% load custom_filters %}

<div class="card">
  {% if pet.pictures.count > 0 %}
    <img src="{{ MEDIA_URL }}{{ pet.pictures.first }}" alt="" class="card-img-top"/>
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">
      {{ pet.name }}
      {% if pet.days_since_creation < 2 %}
        <span class="badge badge-success">{% trans "Nou" %}</span>
      {% endif %}
    </h4>
    <div class="card-text">
      {{ pet.description|linebreaks|urlize_target_blank|truncatechars_html:100 }}
    </div>
    <div class="text-right">
      <a href="{{ pet.get_absolute_url }}" class="btn btn-primary stretched-link">
        {% trans "Més informació" %}
      </a>
    </div>
  </div>
</div>
