{% load bootstrap4 %}

<div class="card-columns">
  {% for pet in pets %}
    {% include 'components/pet.html' %}
  {% endfor %}
</div>

{% if pets.paginator.num_pages > 1 %}
  <div class="d-flex justify-content-center">
    {% bootstrap_pagination pets parameter_name="p" %}
  </div>
{% endif %}
