{% load i18n %}

<meta property="og:url" content="{{ organization.get_absolute_url }}"/>
<meta property="og:title" content="{{ organization.name }}"/>
<meta property="og:description" content="{{ organization.description }}"/>
{% if organization.picture %}
  <meta property="og:image" content="{{ MEDIA_URL }}{{ organization.picture }}"/>
{% endif %}
<meta property="fb:app_id" content="432647640711941"/>
<meta property="og:locale" content="ca"/>
