{% load i18n %}

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="amicpelut.com">
<meta name="twitter:creator" content="@amicpelut">
<meta name="twitter:title" content="{{ organization.name }}">
<meta name="twitter:description" content="{{ organization.description }}">
{% if organization.picture %}
  <meta name="twitter:image" content="{{ MEDIA_URL }}{{ organization.picture }}">
{% endif %}
